language: android 
android: 
    components: 
        - platform-tools
        - tools
        - build-tools-21.1.1
        - android-21
        - sys-img-armeabi-v7a-android-21
before_script:
    - chmod +x gradlew
script:
    - ./gradlew build check
after_success:
    - echo "Done!" 
